<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自我介紹</title>
</head>
<body>
    <h1>林韋溱</h1>
    <p>生日 2008/06/16</p>

    <h3>關於我：<h3/>
    <p>
    特質：<br/>
    有原則、抗壓、坦率
    </p>
    
    
    <h3>學歷</h3>
    <p>
    國小：市長獎畢業於樹林國小<br/>
    國中：市長獎畢業於育林國中<br/>
    高中：新北高中
    </p>
    
    <h3>社團</h3>
    <p>
    高一：流行音樂社<br/>
    高二：藝術創作社
    </p>

    
</body>
</html>

