<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自我介紹</title>
</head>

<body>

    <div class="name-birth">
        <h1 class="name">林韋溱</h1>
        <p class="birth">生日 2008/06/16</p>
    </div>

    <div class="about-all">
        <h3 class="about">關於我：</h3>
        <p class="spacial">
            特質：<br/>
            有原則、抗壓、坦率
        </p>
        <p class="interst">
            興趣：<br/>
            程式、繪圖、創新
        </p>
        <p class="ability">
            能力：<br/>
            精準洞察、整合、結構清晰
        </p>
    </div>
    
    <div class="education-all">
        <h3 class="education">學歷</h3>
        <p class="school">
            國小：市長獎畢業於樹林國小<br/>
            國中：市長獎畢業於育林國中<br/>
            高中：新北高中
        </p>
    </div>

    <div class="school-life">
        <div class="respon-all">
            <h3 class="respon">幹部</h3>
            <p>
                高一：班代<br/>
                高二：班代<br/>
                高三：衛生股長
            </p>
        </div>
        <div class="club-all">
            <h3 class="club">社團</h3>
            <p>
                高一：流行音樂社<br/>
                高二：藝術創作社
            </p>
        </div>
        <div class="activity-all">
            <h3 class="comptition">比賽</h3>
            <p>英文菁英杯多媒體組 亞軍</p>
            <h3 class="activity">活動</h3>
            <P>輔導室志工</P>
        </div>
    </div>
    
</body>
</html>
